---
import Logo from "../assets/shared/logo.svg";
import HamburgerIcon from "../assets/shared/icon-hamburger.svg";
import { Image } from "astro:assets";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;
---

<header class="fixed flex h-22 w-full items-end md:h-24 xl:h-34">
  <div class="flex w-full justify-between">
    <div class="flex items-center xl:w-1/2">
      <a href="/" class="mx-6 md:mx-10 xl:mx-16">
        <Image src={Logo} alt="Logo" class="aspect-square h-12 w-12 min-w-12" />
      </a>
      <div class="hidden h-[1px] w-0 bg-white/25 xl:block xl:w-full"></div>
    </div>

    <div class="flex items-center pr-6 md:hidden">
      <button class="text-light-blue">
        <Image src={HamburgerIcon} alt="Menu" class="w-6" />
      </button>
    </div>

    <nav class="hidden w-1/2 flex-grow md:flex">
      <ul
        class="flex h-min flex-grow justify-end gap-12 bg-white/5 text-white backdrop-blur-xl md:px-10 xl:px-16"
      >
        <li
          class:list={[
            "flex h-24 items-center border-y-3 border-transparent",
            currentPage === "Home"
              ? "border-b-white"
              : "transition duration-500 hover:border-b-white/50",
          ]}
        >
          <a href="/" class="t8 flex h-full items-center space-x-3 uppercase"
            ><b>00</b><span>Home</span></a
          >
        </li>
        <li
          class:list={[
            "flex h-24 items-center border-y-3 border-transparent",
            currentPage === "Destination"
              ? "border-b-white"
              : "transition duration-500 hover:border-b-white/50",
          ]}
        >
          <a
            href="/destination"
            class="t8 flex h-full items-center space-x-3 uppercase"
            ><b>01</b><span>Destination</span></a
          >
        </li>
        <li
          class:list={[
            "flex h-24 items-center border-y-3 border-transparent",
            currentPage === "Crew"
              ? "border-b-white"
              : "transition duration-500 hover:border-b-white/50",
          ]}
        >
          <a
            href="/crew"
            class="t8 flex h-full items-center space-x-3 uppercase"
            ><b>02</b><span>Crew</span></a
          >
        </li>
        <li
          class:list={[
            "flex h-24 items-center border-y-3 border-transparent",
            currentPage === "Technology"
              ? "border-b-white"
              : "transition duration-500 hover:border-b-white/50",
          ]}
        >
          <a
            href="/technology"
            class="t8 flex h-full items-center space-x-3 uppercase"
            ><b>03</b><span>Technology</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
