---
import Image from "astro/components/Image.astro";
import Logo from "../assets/shared/logo.svg";
---

<header class="fixed h-22 w-full bg-blue-800/30 text-white md:h-24 xl:h-34">
  <a href="/">
    <Image src={Logo} alt="Logo" />
  </a>
  <nav class="">Placeholder nav</nav>
</header>
