---
import "@fontsource/bellefair";
import "@fontsource/barlow";
import "@fontsource/barlow-condensed";
import "../styles/global.css";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Space Tourism Site</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
